body {
  background-color: #D6A882;
  font-family: "Lucida Console", Monaco, monospace;
}

.welcome {
    color: #5D6C8F;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#atm {
  border-radius: 25px;
  height: 500px;
  margin: 20px auto 0 auto;
  width: 800px;
}

#view {
  background-color: #2E4172;
  border: 3px solid #9CA2AE;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}