.balance h1 {
  color: #9CA2AE;
  font-size: 45px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
}

.balance a.homeButton {
  background-color: #5D6C8F;
  border: 2px dashed #9CA2AE;
  border-radius: 5px;
  color: #0D2254;
  display: block;
  font-size: 35px;
  height: 100px;
  line-height: 100px;
  margin: 35px auto;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.balance a.homeButton:hover {
  background-color: #9CA2AE;
  cursor: pointer;
}