ul.menu {
  height: 430px;
  list-style-type: none;
  margin: 0;
  padding: 35px;
  width: 724px;
}

ul.menu li {
  background-color: #5D6C8F;
  border: 2px dashed #9CA2AE;
  border-radius: 5px;
  color: #0D2254;
  float: left;
  font-size: 35px;
  height: 190px;
  line-height: 190px;
  margin: 0 35px 35px 0;
  text-align: center;
  text-transform: capitalize;
  width: 340px;
}

ul.menu li.deposit,
ul.menu li.logout {
  margin-right: 0;
}

ul.menu li.logout {
  background-color: #EB5D3F;
}

ul.menu li.logout:hover {
  background-color: #FF5F3D;
}

ul.menu li:hover {
  background-color: #9CA2AE;
  cursor: pointer;
}