/*
 * Keypad
 */

.keypad div {
  display: inline;
  float: left;
}

.keypad ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* digits */

.keypad .digits {
  padding: 0 35px 0 35px;
  width: 530px;
}

.keypad .digits ul li {
  background-color: #5D6C8F;
  border: 1px dashed #9CA2AE;
  border-radius: 5px;
  color: #021237;
  display: inline;
  float: left;
  font-size: 35px;
  font-weight: bold;
  height: 55px;
  line-height: 60px;
  margin: 0 20px 20px 0;
  text-align: center;
  width: 160px;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}

.keypad .digits ul li.disabled {
  color: #5D6C8F;
}

.keypad .digits ul li:hover {
  background-color: #9CA2AE;
  cursor: pointer;
}

.keypad .digits ul li.disabled:hover {
  background-color: #5D6C8F;
  cursor: auto;
}

.keypad .digits ul li:last-child {
  margin-right: 0;
}

/* actions */

.keypad .actions {
  width: 200px;
}

.keypad .actions ul li {
  border: 1px dashed #9CA2AE;
  border-radius: 5px;
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 163px;
}

.keypad .actions ul li.cancel {
  background-color: #EB5D3F;
}

.keypad .actions ul li.cancel:hover {
  background-color: #FF5F3D;
}

.keypad .actions ul li.clear {
  background-color: #EBEA3F;
}

.keypad .actions ul li.clear:hover {
  background-color: #FFFE3D;
}

.keypad .actions ul li.enter {
  background-color: #58C735;
}

.keypad .actions ul li.enter:hover {
  background-color: #61E737;
}
