/*
 * LCD
 */
.display {
  background-color: #021237;
  border: 2px solid #5D6C8F;
  border-radius: 5px;
  margin: 35px 35px 20px 35px;
  padding: 20px 35px;
}

.display.error {
  background-color: #EB5D3F;
}

.display .lcd {
  background-color: inherit;
  border: none;
  color: #B6CEB6;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: right;
  width: 100%;
}
