<div class="keypad">
  <div class="digits">
    <ul ng-repeat="row in digitButtonRows">
      <li ng-repeat="digit in row"
          ng-click="pressDigitButton(digit['value'])"
          ng-class="{'last': $last, 'disabled': digit['value'] === undefined}">
        {{digit['value']}}
      </li>
    </ul>
  </div>
  <div class="actions">
    <ul>
      <li ng-repeat="(item, action) in actionButtons"
          ng-click="pressActionButton(item)"
          class="{{item}}">
        {{item}}
      </li>
    </ul>
  </div>
</div>
